<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="CSharpFunctionalExtensions" version="1.15.2" targetFramework="net461" />
  <package id="Dawn.Guard" version="1.8.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
  <package id="WPFCRUDControl" version="1.0.1" targetFramework="net461" />
</packages>